{% extends 'core/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
Owl Inspection Services | Inspection Details
{% endblock title %}

{% block extra_css %}
  <style type="text/css">
    .area-card {
      min-width: 400px !important;
      max-width: 400px !important;
      overflow: hidden;
    }

    .area-card:hover {
      background-color: whitesmoke;
    }

    .default-image {
      height: 350px !important;
      scale: 0.5;
    }

    .carousel-image {

    }
  </style>
{% endblock extra_css %}


{% block content %}
  <div class="container pb-5 mb-5">
    <h3 class="lead display-4 mt-1 mb-5">Inspection Details for {{ inspection.inspected_property.name }}</h3>
    {% if request.user|has_group:"Inspector" %}
      <p class="small"><strong>Inspected properpty:</strong> {{ inspection.inspected_property.name }}</p>
      <p class="small"><strong>Inspector:</strong> {{ inspection.inspector }}</p>
      <p class="small"><strong>Inspected user:</strong> {{ inspection.inspected_user }}</p>
      <p class="small"><strong>Inspection date:</strong> {{ inspection.created_at }}</p>
      <p class="small"><strong>Inspection status:</strong>
        {% if inspection.is_completed %}
          <span class="badge text-bg-success">Completed</span>
        {% else %}
          <span class="badge text-bg-warning">In Progress</span>
        {% endif %}
      </p>


      <div class="mt-5 mb-3 fs-4">Checklist</div>

      <!-- INSPECTOR and INSPECTED USER -->
      <div class="d-flex justify-content-between w-50 border p-3 rounded-4 mb-3">
        <div class="fs-5 w-fit">
          {% if inspection.inspector and inspection.inspected_user %}
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#198754" class="bi bi-check2-circle me-2" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
            </svg>
          {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffc107" class="bi bi-exclamation-circle me-2" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
              <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
            </svg>
          {% endif %}
          Choose inspector and inspected user
        </div>
        <a href="{% url 'create_inspection' %}?inspection_id={{ inspection.id }}" class="btn btn-sm btn-primary h-fit">Edit</a>
      </div>

      <!-- PROPERTY -->
      <div class="d-flex justify-content-between w-50 border p-3 rounded-4 mb-3">
        <div class="fs-5 w-fit">
          {% if inspection.inspected_property %}
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#198754" class="bi bi-check2-circle me-2" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
            </svg>
          {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffc107" class="bi bi-exclamation-circle me-2" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
              <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
            </svg>
          {% endif %}
          Choose property
        </div>
        <a href="{% url 'create_inspection_property' inspection.id %}?edit=True" class="btn btn-sm btn-primary h-fit">Edit</a>
      </div>

      <!-- AREAS -->
      <div class="d-flex justify-content-between w-50 border p-3 rounded-4 mb-3">
        <div class="fs-5 w-fit">
          {% if inspection.areas.exists %}
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#198754" class="bi bi-check2-circle me-2" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
            </svg>
          {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffc107" class="bi bi-exclamation-circle me-2" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
              <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
            </svg>
          {% endif %}
          Add at least one property area
        </div>
        <a href="{% url 'create_inspection_property' inspection.id %}?edit=True" class="btn btn-sm btn-primary h-fit">Edit</a>
      </div>


      <hr class="mt-5">
      <div class="mt-5 mb-3 fs-4">Areas</div>

      <div class="card-group gap-3">
        {% for area in inspection.areas.all %}
          <a href="{% url 'area_detail' inspection.pk area.pk %}" class="card rounded-4 area-card text-decoration-none">
            {% if area.images.first.picture %}
              <img src="{{ area.images.first.picture.url }}" class="card-img-top" alt="Image of the area">
            {% else %}
              <img src="{% static 'core/images/default_no_picture.svg' %}" class="card-img-top default-image" alt="Image of the area">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ area.name }}</h5>
              <p class="card-text">{{ area.notes }}</p>
              <p class="card-text d-none"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </a>
        {% endfor %}
      </div>

      <div class="d-flex justify-content-end d-none">
        <div class="btn btn-danger">Delete</div>
      </div>
    {% else %}
      <p class="small"><strong>Inspected properpty:</strong> {{ inspection.inspected_property.name }}</p>
      <p class="small"><strong>Inspector:</strong> {{ inspection.inspector }}</p>
      <p class="small"><strong>Inspected user:</strong> {{ inspection.inspected_user }}</p>
      <p class="small"><strong>Inspection date:</strong> {{ inspection.created_at }}</p>
      <p class="small"><strong>Inspection status:</strong>
        {% if inspection.is_completed %}
          <span class="badge text-bg-success">Completed</span>
        {% else %}
          <span class="badge text-bg-warning">In Progress</span>
        {% endif %}
      </p>

      <hr class="mt-5">
      <div class="mt-5 mb-3 fs-2">Areas</div>

      {% for area in inspection.areas.all %}
        <!-- AREA DETAILS -->
        <div class="mt-5 mb-3 fs-4">{{ area.name }}</div>
        <!-- AREA IMAGES -->
        <div id="area-carousel-{{ area.pk }}" class="carousel slide my-4">
          <div class="carousel-inner shadow rounded-4">
            {% if area.images.exists %}
              {% for area_image in area.images.all %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                  <img src="{{ area_image.picture.url }}" class="d-block w-100 carousel-image" alt="Image of area: {{ area.name }}">
                </div>
              {% endfor %}
            {% else %}
                <div class="carousel-item active">
                  <img src="{% static 'core/images/default_no_picture.svg' %}" class="d-block w-100 default-image" alt="No image exists for area: {{ area.name }}">
                </div>
            {% endif %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#area-carousel-{{ area.pk }}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#area-carousel-{{ area.pk }}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <p class="mb-3 fs-5">Area Notes:</p>
        <p>{{ area.notes|linebreaks }}</p>
        <hr class="my-5">
      {% endfor %}
    {% endif %}


  </div>
{% endblock content %}